<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.beautyboss.slogen.config.resource.mapper.ProjectMapper">

    <resultMap id="projectResult" type="com.beautyboss.slogen.config.resource.entity.ProjectEntity">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="desc"/>
        <result column="admins" property="admins"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="modify_user_id" property="modifyUserId"/>
        <result column="create_time" property="createTime"/>
        <result column="modify_time" property="modifyTime"/>
    </resultMap>

    <sql id="all_column">
        id,name,description,admins,create_user_id,modify_user_id,create_time,modify_time
    </sql>

    <sql id="table_name">
        config_project
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="com.beautyboss.slogen.config.resource.entity.ProjectEntity">
        INSERT INTO
        <include refid="table_name"/>
        (name,description,admins,create_user_id,modify_user_id,create_time,modify_time)
        VALUES
        (#{name},#{desc},#{admins},#{createUserId},#{createUserId},now(),now())
    </insert>

    <select id="query" parameterType="java.lang.Long" resultMap="projectResult">
        SELECT
        <include refid="all_column"/>
        from
        <include refid="table_name"/>
        WHERE  id = #{id}
    </select>

    <update id="modify" parameterType="com.beautyboss.slogen.config.resource.entity.ProjectEntity">
        UPDATE
        <include refid="table_name"/>
        SET
        name = #{name},
        description = #{desc},
        admins = #{admins},
        modify_user_id = #{modifyUserId},
        modify_time = now()
        WHERE
        id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE
        from
        <include refid="table_name"/>
        WHERE
        id = #{id}
    </delete>

</mapper>